<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="DefaultSettings">
            <section name="VRCTower.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0"
                     allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <DefaultSettings>
        <VRCTower.Properties.Settings>
            <setting name="WebSocketUrl">
                <value>localhost:8080/cloud</value>
            </setting>
        </VRCTower.Properties.Settings>
    </DefaultSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>